@using EntityLayer.Concrete
@model List<Genre>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<br />
<table class="table table-bo">
    <tr>
        <th>#</th>
        <th>Kategori</th>
        @if (User.IsInRole("A"))
        {
            <th>Sil</th>
            <th>Güncelle</th>
        }
        <th>İçerik</th>

    </tr>
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <th>@i</th>
            <td>@item.GenreName</td>
            @if (User.IsInRole("A"))
            {
                <td><a href="/AdminGenre/DeleteGenre/@item.GenreId" class="btn btn-danger">Sil</a></td>
                <td><a href="/AdminGenre/EditGenre/@item.GenreId" class="btn btn-warning">Güncelle</a></td>
            }
            <td><a href="/AdminMovie/GetMovieByGenreId/@item.GenreId" class="btn btn-primary">İçeirk</a></td>
        </tr>

    }

</table>
<br />
@if (User.IsInRole("A"))
{
<a href="/AdminGenre/AddGenre" class="btn btn-info">Yeni Kategori</a>
}
<br />
<br />
<br />

